.mainDiv{
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    text-align: center;
    height: 100vh;
  }

.box{
    margin: auto 0;
    background-color: #35424a;
    color: white;
    width: 25%;
    border-radius: 20px;
}

.box h2{
    margin: 30px 0;
}

.box input{
    margin-bottom: 30px;
    height: 30px;
    width: 250px;
    border-radius: 8px;
    padding-left: 10px;
    border: none;
}

.box input:hover{
    border: none;
    background-color: #d9d8d8;
}

.box input:focus{
    border: none;
    background-color: #d9d8d8;
}

.btn{
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: lighter;
    background-color: rgb(99, 255, 99);
    border: none;
}

.btn:hover{
    background-color: greenyellow;
    cursor: pointer;
}
